body {
  background-color: #fff0f3;
  font-family: sans-serif;
  box-sizing: border-box;
  border-top: 12px solid #590d22;
  margin: 0 auto;
  padding: 0 auto;
}
/*BANER*/
.baner-clear {
  background-color: #ffb3c1;
  width: 1300px;
  font-family: sans-serif;
  margin: 0 auto;
  border-radius: 0px 0px 80px 80px;
}
.banner-size {
  margin: 0 auto;
  max-width: 1175px;
  display: flex;
  justify-content: space-between;
}
.title {
  color: #590d22;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
.baner-nav {
  display: flex;
  gap: 30px;
}
.baner-nav a {
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  color: #590d22;
  text-decoration: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*CONTENT*/

.content {
  max-width: 1175px;
  margin: 0 auto;
  background-color: #ffccd5;
  display: flex;
  justify-content: space-between;
  box-shadow: 56px 13px 65px -20px rgba(239, 18, 101, 1);
}

.text {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 35px;
  padding-right: 25px;
  margin: 0 auto;
}
h2 {
  padding-left: 25px;
}
.highlighte {
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
}
/*LEFT*/

.left-content {
  width: 850px;
  /*float: left;*/
  background-color: #ff8fa3;
}
.img {
  height: 300px;
  width: 850px;
  background-color: #ff4d6d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: 30px;
  box-shadow: 0px 30px 25px -18px rgba(239, 18, 101, 1);
}
.photo {
  height: 250px;
  width: 250px;
  box-shadow: 16px -1px 24px -12px rgba(239, 18, 101, 1);
  border-radius: 30px 30px 30px 30px;
}

.list {
  font-size: 18px;
  padding-left: 50px;
}
/*RIGHT*/

.right-content {
  background-color: bisque;
  width: 300px;
  /*float: right;*/
  padding-top: 20px;
}
.img-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 50px;
  margin-bottom: 25px;
}
.photo-right-place {
  height: 350px;
  width: 270px;
  background-color: #ff4d6d;
  line-height: 1;
  font-size: 15px;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 30px 25px -18px rgba(239, 18, 101, 1);
}
.photo-right {
  height: 250px;
  width: 250px;
  border-radius: 20px 20px 20px 20px;
}
.highlighte_left {
  font-size: 25px;
  font-weight: bold;
}
/*FOOTER*/
footer {
  background-color: #590d22;
}
